{%block dashboard_header%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Premier health Pharma</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static', filename=('assets/vendors/feather/feather.css'))}}">
  <link rel="stylesheet" href="{{url_for('static', filename=('assets/vendors/ti-icons/css/themify-icons.css'))}}">
  <link rel="stylesheet" href="{{url_for('static', filename=('assets/vendors/css/vendor.bundle.base.css'))}}">
  <link rel="stylesheet"
    href="{{url_for('static', filename=('assets/vendors/font-awesome/css/font-awesome.min.css'))}}">
  <link rel="stylesheet" href="{{url_for('static', filename=('assets/vendors/mdi/css/materialdesignicons.min.css'))}}">
  <link rel="stylesheet" href="{{url_for('static', filename=('assets/js/dataTables.dataTables.css'))}}">
  <link rel="stylesheet" href="{{url_for('static', filename=('assets/vendors/ti-icons/css/themify-icons.css'))}}">
  <link rel="stylesheet" href="{{url_for('static', filename=('assets/css/style.css'))}}">
  <link rel="shortcut icon" href="{{url_for('static', filename=('assets/images/favicon.png'))}}" />

  <script src="{{url_for('static', filename=('assets/js/jquery-3.7.1.min.js'))}}"></script>
  <script src="{{url_for('static', filename=('assets/js/dataTables.js'))}}"></script>





</head>

<body class="sidebar-icon-only">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <a class="navbar-brand brand-logo me-5" href="index.html"><img
            src="{{url_for('static', filename=('assets/images/logo-dark.png'))}}" class="me-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img
            src="{{url_for('static', filename=('assets/images/logo-dark-sm.png'))}}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
              data-bs-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
              <img src="{{url_for('static', filename=('assets/images/faces/face28.jpg'))}}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i> Settings </a>
              <a class="dropdown-item" href="/logout">
                <i class="ti-power-off text-primary"></i> Logout </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>



    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#patient" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pharma POS</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="patient">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/all_patient">All Patient</a></li>
                <li class="nav-item"> <a class="nav-link" href="/search_patient">Create Order</a></li>
                <li class="nav-item"> <a class="nav-link" href="/all_order">All Orders</a></li>
                <li class="nav-item"> <a class="nav-link" href="/find_member">Refund</a></li>  
                <li class="nav-item"><a class="nav-link" href="/pharmacy_stock">Stock</a></li>             
                <li class="nav-item"> <a class="nav-link" href="/create_item">Create Items</a></li>
                <li class="nav-item"> <a class="nav-link" href="/PO_request">PO Request</a></li>                
                <li class="nav-item"> <a class="nav-link" href="/find_member">Stock Return Order</a></li>
                

              </ul>
            </div>
          </li>


       

       
          <!-- <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="icon-monitor menu-icon"></i>
              <span class="menu-title">Cash Managment</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/">Store Invoices</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Pharmacy Invoices</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Patient Bill</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">LP Bill</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Return Vouchers</a></li>
                <li class="nav-item"> <a class="nav-link" href="/ledger-report">Reports</a></li>
              </ul>
            </div>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-bar-graph-2 menu-icon"></i>
              <span class="menu-title">Reports</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/sale_report"> Sale Report </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Stock Report </a></li>
                <li class="nav-item"> <a class="nav-link" href="/legder_report"> Ledger Report </a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> REVENUE REPORT </a></li> -->
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#repo" aria-expanded="false" aria-controls="repo">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Setup</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="repo">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Store </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Pharmacy </a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Cash </a></li> -->
              </ul>
            </div>
          </li>


        </ul>
      </nav>


      {%endblock%}