{% extends 'partials/dashboard_base.html' %}
{% block dasboard_content %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">All Orders</h3>
                    <h6 class="font-weight-normal mb-0">Pharmac POS</span></h6>
                  </div>
                  
                </div>
              </div>
            </div>

            
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Sr</th>
                        <th scope="col">Visit #</th>
                        <th scope="col">Order #</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for result in result%}
                   
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{result['visit_number']}}</td>
                        <td>{{result['order_number']}}</td>
                        <td>{{result['order_status']}}</td>
                        <td>{{result['created_date']}}</td>
                        <td><a href="/order_detail?mrn={{result['MRN']}}&order={{result['order_number']}}">View Detail</a></td>
                        
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
          <!-- content-wrapper ends -->
        
{%endblock%}