{% extends 'partials/dashboard_base.html' %}
{% block dasboard_content %}

<style>
  .table th, .table td {
    
      vertical-align: middle;
      line-height: 2;
      white-space: nowrap;
      padding: 5px;

  }
</style>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  
                </div>
              </div>
            </div>
            
       
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
              
                  
                  <table class="table " id="item-data">
                    <thead>
                      <tr>
                        <th>MRN</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <!-- <th>Department</th> -->
                        <!-- <th>Ward</th> -->
                        <!-- <th>Bed</th> -->
                        <!-- <th>Consultant</th> -->
                        <!-- <th>Admission Date</th> -->
                        <!-- <th>Status</th> -->
                        <th>Action</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      {%for result in patient_record%}
                      <tr>
                        <td>{{result.MRN}}</td>
                        <td>{{result.first_name}}</td>
                        <td>{{result.last_name}}</td>
                        <td>{{result.age}}</td>
                        <!-- <td>{{result.d_name}}</td> -->
                        <!-- <td>{{result.ward_name}}</td> -->
                        <!-- <td>{{result.bed_name}}</td> -->
                        <!-- <td>Dr. {{result.c_first_name}} {{result.c_first_name}}</td> -->
                        <!-- <td>{{result.admission_date}}</td> -->
                
                        {%if result.adm_status=='Admitted'%} 
                        <td><label class="badge badge-success">Admitted</label></td>
                        {%elif result.adm_status=='Pending'%}
                        <td><label class="badge badge-warning">Pending</label></td>
                        {%elif result.adm_status=='Discharge'%}
                        <td><label class="badge badge-danger">Discharge</label></td>
                        {%else%}
                        {{pass}}
                        {%endif%}
                        <!-- <td>edit</td> -->
                        <td><a href="/create_order?mrn={{result.MRN}}">continue</a></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                    
                  </table>
                  
              
               </div>
               </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->


          <script>
            new DataTable('#item-data', {
              layout: {
                  bottomEnd: {
                      paging: {
                          type: 'simple'
                      }
                  }
              }
          });
          </script>
        
{%endblock%}