{% extends 'partials/dashboard_base.html' %}
{% block dasboard_content %}


<div class="main-panel">
          <div class="content-wrapper">


   
                
                 
                  
                
                    {%for perm in perm%}
                    {{perm}}
                  <br>
                    {%endfor%}

                
                {%for perm in perm%}
                  {%if perm['permission_id'] == 2 and perm['route']|string()=='/test' %}
                  <button>test</button>
                  {%else%}
                  
                  {%endif%}
                {%endfor%}


            </div>

        {%endblock%}